<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i><img id="dotnet_logo" src="~/imagenes/sql_logo.png" /></i>
            <i><img id="dotnet_logo" src="~/imagenes/developer_logo.png" /></i>
            <i><img id="dotnet_logo" src="~/imagenes/dotnet_logo.png" /></i>
            <h3>FULL STACK</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET, WPF, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>ASP.NET</li>
                <li>WPF</li>
                <li>XAMARIN</li>
            </ul>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i><img id="go_logo" src="~/imagenes/golang_logo.png" /></i>
            <i><img id="android_logo" src="~/imagenes/android_icon.png" /></i>
            <i><img id="android_logo" src="~/imagenes/os_apple.png" /></i>
            <h3>FULL STACK</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automaticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Golang, Dart, Flutter
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Android</li>
                <li>iOS</li>
                <li>Docker</li>
            </ul>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
        </div>
    </div>
</div>
