<div class="text-center">

    <h1 class="display-4">Soy Alexander Zubrey</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y mobiles.</h2>
    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Alex" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio.</h1>
        <p>
            Mi nombre es Alexander Zubrey, soy un desarrollador front-end radicado en España. He trabajado en una amplia gama de proyectos front-end,
            desde aplicaciones de ASP.NET hasta plataformas de reservas de comercio electrónico,
            con el objetivo de crear interfaces limpias y bien diseñadas que no solo tengan un aspecto excelente,
            sino que también brinden una experiencia de usuario perfecta.
        </p>
    </div>
</div>
